:root {
  --white: #ffffff;
  --black: #000000;
  --accent: #223f95;
  --accent2: #00a6e7;
  --accent_light: #9ee4ff2a;
  --teal: #227b94;
  --light-blue: #78b7d0;
  --yellow: #ffdc7f;
  --grey: #747c84;
  --light-grey: #b7bdc1;
  --unit: 20px;
  --max-width: 1200px;
  --shadow: 0px 0px 10px rgba(0, 0, 0, 0.151);
  --trans: all 0.4s ease-in-out;
}



*::after,
*::before,
* {
  box-sizing: border-box;
  // border: 1px solid red;
  margin: 0px;
  // font-family: "Poppins" sans-serif;
}
body {
  width: 100%;
  overflow-x: hidden;
  // scroll-behavior: smooth;
  // background-color: var(--light-grey);
}

.parent {
  width: 100vw;

  .cont {
    max-width: var(--max-width);
    margin: auto;
    // padding: 0px 10px;
    padding: 20px 20px;
    height: 100%;
  }
}

.bg-img-cover {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.bg-img-contain {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

a {
  text-decoration: none;
}

.parent {
  h2 {
    font-size: clamp(40px, 4.5vw, 68px) !important;
    line-height: 1.05 !important;
    letter-spacing: -1.5px;
  }
}

// h1,h2,h3,h4,h5,h6{
//   font-family: "Noto Serif", serif;
// }

